
{%extends 'base.html'%}
{% block title %}Password Reset{% endblock title %}
{%block content%}

<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
        <hr>
        <form action="" method="post" novalidate class="shadow p-5">
            {% csrf_token %}

            <label for="id_old_password" class="form-label">Old password:</label>
            <input type="password" name="old_password" class="form-control" autocomplete="current-password" autofocus="" required="" id="id_old_password">
            <label for="id_new_password1" class="form-label">New password:</label>
            <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1"><br>
            <span class="helptext">
            <ul style="color: red;">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            </span>
            <label for="id_new_password2" class="form-label">New password confirmation:</label>
            <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2">
            <div class="text-center pt-5">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Save changes</button>
          </div>
          </form>
    </div>
    </div>
   </div>
   

{% endblock content %}