
{%extends 'base.html'%}
{% block title %}Password Reset{% endblock title %}
{%block content%}

<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Reset Password</h3>
      <hr>
      <form action="" method="post" novalidate class="shadow p-5">
       {% csrf_token %}
     <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email">   
    </div>
    <input type="submit" class="btn btn-primary mt-4" value="Reset Password">
       
    </form>
     </div>
    </div>
   </div>
   
{% endblock content %}