<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +91 63537 01592
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> jaydeeptalaviya7@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">

            <a target="_blank" href="https://www.facebook.com/share/5B7oprPkkL5ZStbo/?mibextid=qi2Omg">
              <i class="fab fa-facebook"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/jaydeep-talaviya-540901195">
              <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/jay_talaviya_99?igsh=MWN6dG4zdzBrMDhrMA==">
              <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" href="https://wa.me/916353701592">
              <i class="fab fa-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>